/* =======================================================
==========================================================
================== Global Css ============================
==========================================================
======================================================== */

section{
	padding-top:100px;
	padding-bottom:75px;
}

/* --- background --- */

.bg-no-repeat{
	background-repeat:no-repeat;
}

.bg-size-cover{
	background-size:cover;
}

.bg-position-center{
	background-position:center;
}

.bg-attachment-fixed{
	background-attachment:fixed;
}


/* --- height --- */
.h-1{
	height:.25rem!important;
}
.h-2{
	height:.5rem!important;
}
.h-3{
	height:1rem!important;
}
.h-4{
	height:1.5rem!important;
}
.h-5{
	height:2rem!important;
}
.h-6{
	height:2.5rem!important;
}
.h-7{
	height:3rem!important;
}

/* --- Width --- */
.w-1{
	width:.25rem!important;
}
.w-2{
	width:.5rem!important;
}
.w-3{
	width:1rem!important;
}
.w-4{
	width:1.5rem!important;
}
.w-5{
	width:2rem!important;
}
.w-6{
	width:2.5rem!important;
}
.w-7{
	width:3rem!important;
}
/* --- positioning --- */
.top-auto{
	top:auto !important;
}
.start-auto{
	left:auto !important;
}
.bottom-auto{
	bottom:auto !important;
}
.end-auto{
	right:auto !important;
}

/*-- transform --*/
.transform-translate-y-50{
	transform: translateY(-50%);
}

.card-hover-visible{
	visibility:hidden;
}
.card:hover .card-hover-visible{
	visibility:visible;	
}



